body{
  font-family: 'Noto Serif JP', serif;
}



#players{
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 3%;
  background-color: #F5FCFF;
}
.text-black{
  color: #000000;
  padding-top: 50px;
  padding-bottom: 50px;

}

.press-logo{
  width: 35%;
  margin: 20px 20px 50px;
}

.ro-pd{
  margin-top: 50px;
}


#footer{
  text-align: center;
  background-color: #1b1e21	;
  padding-bottom: 3%;
  padding-top: 3%;
}

@media (max-width: 1020px){

.press-logo{
  width: 60%;
}


}
